body {
    background-color: #c4b8b8;
    color: #000;
  }
  
  .modo-oscuro {
    background-color: #000;
    color: #c7c5c5;
  }

  .modo-claro {
    background-color: #c4b8b8;
    color: #000;
  }

  .my-custom-table {
    border-collapse: collapse;
  }

  .my-custom-table th,
  .my-custom-table td {
    border: 1px solid #000;
    padding: 8px;
  }

  .my-custom-table th {
    font-weight: bold;
  }
  